<div class="pokemon-card">
  <div class="pokemon-card__image">
    <img
      [src]="pokemon.image"
      alt="Pokemon Image">
  </div>

  <div class="pokemon-card__number">
    Nº {{ leadingZero(pokemon.number) }}
  </div>

  <div class="pokemon-card__name">
    {{ pokemon.name }}
  </div>

  <div class="pokemon-card__types">
    <div class="pokemon-card__type"
         *ngFor="let type of pokemon.types"
         [class]="'pokemon-card__type--' + type.toLowerCase()">
      {{ type }}
    </div>
  </div>
</div>
