<div class="pokemon-card">
  <div class="pokemon-card__image">
    <img
      src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
      alt="Pokemon Image">
  </div>

  <div class="pokemon-card__number">
    Nº001
  </div>

  <div class="pokemon-card__name">
    Bulbasaur
  </div>

  <div class="pokemon-card__types">
    <div class="pokemon-card__type pokemon-card__type--grass">Grass</div>
    <div class="pokemon-card__type pokemon-card__type--poison">Poison</div>
  </div>
</div>
